* {
  box-sizing: content-box;

  --green : #61d131;
  --red: #a3340c;
  --black: #1E1E1E;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 0;
}

.card {
  background: #fff;
  width: 100%;
}

.title {
  width: 80%;
  display: flex;
  justify-content: center;
}

.txt {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.txt::before {
  content: '';
  display: flex;
  width: 50px;
  height: 3px;
  background-color: var(--green);
  margin: 0 15px 0 0;
}

.txt::after {
  content: '';
  display: flex;
  width: 50px;
  height: 3px;
  background-color: var(--green);
  margin: 0 0 0 15px;
}

/* Portada */

.portada {
  padding: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./assets/ladrillos.jpg");
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.textP img {
  width: 700px;
  height: 100%;
}

.resaltado {
  color: var(--green);
  font-weight: 400;
}

/* Galería */

.galeria {
  background: linear-gradient(180deg, var(--red) 0%, var(--black) 100%);
  padding: 5em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Contenedor para centrar */
.ContainerCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

/* Input */
.galeria input {
  display: none
}

/* Slider */
.Carrusels {
  height: 500px;
  width: 700px;
  border-radius: 12px;
  position: relative;
  overflow-x: hidden;
}

.Carrusel {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
}

/* Configuracion de elementos individuales */
.Carrusels .Carrusel:nth-child(1) {background-image: url(./assets/marcelo7.jpeg);}
.Carrusels .Carrusel:nth-child(2) {background-image: url(./assets/marcelo1.jpeg);}
.Carrusels .Carrusel:nth-child(3) {background-image: url(./assets/marcelo6.jpeg);}

/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}

/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}

/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}

/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight {
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
  color: var(--green);
}

.Carrusels .ArrowLeft {left: 0px;}
.Carrusels .ArrowRight {right: 0px;}

/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1 {display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2 {display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3 {display: flex;}

/* Selectores */
.Selectors {
  width: 60px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.Selectors .Selector {
  background-color: #FFF;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}

/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}

/* Ubicación */

.ubicacion {
  background: var(--black);
  padding: 5em 0 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  width: 600px;
}

.titleU {
  display: flex;
}

.map iframe {
  width: 700px;
  border-radius: 12px;
  margin-top: 2em;
}

/* Asistencia  */

.asistencia {
  background: linear-gradient(180deg, var(--black) 0%, var(--red) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0 0;
}

.form {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  background-color: #fff;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 2em;
  align-items: center;
  border-radius: 15px;
}

.contentForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 12px;
  border: .5px solid #bdbdbd;
  background-color: #f2f2f2;
}

.form input:focus {
  outline: none;
  border: .5px solid var(--green);
}

.form button {
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 35%;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.form button:hover {
  filter: saturate(150%);
}

/* Playlist */

.playlist {
  background: linear-gradient(180deg, var(--red) 0%, var(--black) 100%);
  padding: 5em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.playlist iframe {
  width: 700px;
  height: 450px;
  border: none;
  margin-top: 2em;
}

.contentMusic {
  width: 100%;
  border-radius: 15px;
  color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.search input {
  width: 600px;
  padding: 10px 20px;
  border-radius: 30px 0 0 30px;
  border: .5px solid #bdbdbd;
  background-color: #f2f2f2;
  min-height: 21px;
}

.search input:focus {
  outline: none;
  border: .5px solid var(--green);
}

.search button {
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 10px 13px;
  cursor: pointer;
  min-height: 23px;
}

.search button:hover {
  filter: saturate(150%);
}

.search button img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

#containerResults {
  border-radius: 12px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  width: 700px;
}

#containerResults h2 {
  width: 97%;
}

#containerResults hr {
  width: 97%;
  border: 0; 
  height: .5px; 
  text-align: center; 
  background: #a9a9a942;
}

#results {
  width: 100%;
  max-height: 700px;
  overflow-y: scroll;
  list-style: none;
  border: none;
  padding-left: 0;
}

#results::-webkit-scrollbar {
  width: 0;
}

#results li {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#results div {
  display: flex;
  align-items: center;
  width: 100%;
}

#results li:hover {
  background-color: #eeeeee27;
}

#results img {
  width: 100px;
  height: 100%;
  border-radius: 10px;
  margin-right: 10px;
}

#results h3 {
  width: 90%;
  font-size: 18px;
  text-align: left;
  margin: 0;
}

#results p {
  color: #bababa;
  font-size: 15px;
  margin: 5px 0;
  text-align: left;
  line-height: 18px;
}

#results span {
  color: #bababa;
  font-size: 15px;
  font-weight: 600;
  margin: 20px;
}

#results .infoSong {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

/* Footer */

.footer {
  background-color: var(--black);
  color: #fff;
  padding: 60px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.contentLogo, .contentInfo {
  filter: opacity(.8);
}

.contentLogo img {
  width: 70px;
  height: 100%;
}

.contentInfo {
  margin-top: 10px;
}

.contentInfo a {
  color: #DB2F89;
  text-decoration: none;
}

.contentInfo a:hover {
  text-shadow: #eb56a3 0px 0px 10px;
}

@media (max-width: 850px) and (min-width: 600px) {
  
  .title {
    width: 100%;
  }
  
  .txt {
    font-size: 30px;
  }
  
  /* Portada */
  
  .textP img {
    width: 70vw;
    height: 100%;
  }

  
  /* Galería */

  .Carrusels {
    height: 70vw;
    width: 100%;
  }

  .ContainerCenter {
    width: 85vw;
  }

  /* Ubicación */
  
  .info {
    font-size: 16px;
    line-height: 25px;
    width: 85vw;
  }
  
  .map iframe {
    width: 85vw;
    height: 60vw;
    margin-top: 30px;
  }
  
  /* Asistencia  */
  
  .form {
    width: 75vw;
    padding: 5vw;
    margin-top: 30px;
  }
  
  .form button {
    width: 130px;
    margin-top: 15px;
    font-size: 16px;
  }
  
  /* Playlist */
  
  .playlist iframe {
    width: 85vw;
    height: 70vw;
    margin-top: 30px;
  }
  
  .search {
    width: 85vw;
  }
  
  .search input {
    width: 100%;
  }
  
  #containerResults {
    margin-top: 20px;
    width: 85vw;
  }
  
  #results h3 {
    font-size: 14px;
  }
  
  #results p {
    font-size: 12px;
  }
  
  #results span {
    font-size: 12px;
  }

  .footer {
    font-size: 12px;
  }
  
  .contentLogo img {
    width: 60px;
  }
}

@media (max-width: 599px) and (min-width: 300px) {
  
  .title {
    width: 100%;
  }
  
  .txt {
    font-size: 6vw;
  }

  .txt::before {
    width: 30px;
  }
  
  .txt::after {
    width: 30px;
  }

  /* Galería */

  .Carrusels {
    height: 65vw;
    width: 100%;
  }

  .ContainerCenter {
    width: 85vw;
  }
  
  /* Portada */
  
  .textP img {
    width: 300px;
    height: 100%;
  }

  
  /* Ubicación */
  
  .info {
    font-size: 2.5vw;
    line-height: 20px;
    width: 85vw;
  }
  
  .map iframe {
    width: 85vw;
    height: 65vw;
  }
  
  
  /* Asistencia  */
  
  .form {
    width: 75vw;
    padding: 5vw;
    margin-top: 30px;
  }

  .form button {
    width: 130px;
    margin-top: 15px;
    font-size: 16px;
  }

  .form input {
    padding: 6px;
    
  }
  
  /* Playlist */
  
  .playlist iframe {
    width: 85vw;
    height: 400px;
    margin-top: 30px;
  }
  
  .search {
    width: 80%;
  }
  
  .search input {
    width: 100%;
  }

  .contentMusic .info {
    width: 80%;
  }

  #containerResults h2 {
    font-size: 18px;
  }
  
  #containerResults {
    margin-top: 15px;
    width: 80%;
  }

  #results img {
    width: 60px;
    margin-right: 5px;
  }
  
  #results h3 {
    font-size: 10px;
    width: 90%;
  }
  
  #results p {
    font-size: 9px;
    margin: 5px 0;
    line-height: 12px;
  }
  
  #results span {
    font-size: 9px;
    margin: 10px;
  }

  .footer {
    font-size: 9px;
  }
  
  .contentLogo img {
    width: 40px;
  }

}