@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500&display=swap');

* {
  --green : #61d131;
  --red: #a3340c;
  --black: #1E1E1E;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 0;
}

.card {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 800px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.txt {
  font-family: 'Catamaran', sans-serif;
  font-size: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.txt::before {
  content: '';
  display: flex;
  width: 50px;
  height: 5px;
  background-color: var(--green);
  margin: 0 10px;
}

.txt::after {
  content: '';
  display: flex;
  width: 50px;
  height: 5px;
  background-color: var(--green);
  margin: 0 10px;
}

/* Portada */

.portada {
  background-color: #0056b3;
  padding: 60px 80px 80px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./assets/ladrillos.jpg");
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.textP svg {
  width: 450px;
  height: 100%;
}

.resaltado {
  color: var(--green);
  font-weight: 400;
}

/* Ubicación */

.ubicacion {
  background: linear-gradient(0deg, var(--black) 0%, var(--red) 100%);
  padding: 50px 80px 80px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  width: 90%;
}

.titleU {
  display: flex;
}

.map iframe {
  border-radius: 12px;
  margin-top: 20px;
}


/* Asistencia  */

.asistencia {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 80px 80px;
}

.form {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  background-color: #fff;
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 20px;
  align-items: center;
  border-radius: 20px;
}

.contentForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 12px;
  border: .5px solid #bdbdbd;
  background-color: #f2f2f2;
}

.form input:focus {
  outline: none;
  border: .5px solid var(--green);
}

.form button {
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 35%;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.form button:hover {
  filter: saturate(150%);
}

/* Playlist */

.playlist {
  background: linear-gradient(180deg, #1E1E1E 0%, #a3340c 100%);
  padding: 50px 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.playlist iframe {
  width: 100%;
  height: 450px;
  border: none;
  margin-top: 20px;
}

.contentMusic {
  width: 100%;
  border-radius: 15px;
  color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.search input {
  width: 85%;
  padding: 10px 20px;
  border-radius: 30px 0 0 30px;
  border: .5px solid #bdbdbd;
  background-color: #f2f2f2;
  min-height: 21px;
}

.search input:focus {
  outline: none;
  border: .5px solid var(--green);
}

.search button {
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 10px 13px;
  cursor: pointer;
  min-height: 23px;
}

.search button:hover {
  filter: saturate(150%);
}

.search button img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

#containerResults {
  border-radius: 12px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  width: 100%;
}

#containerResults h2 {
  width: 97%;
}

#containerResults hr {
  width: 97%;
  border: 0; 
  height: .5px; 
  text-align: center; 
  background: #a9a9a942;
}

#results {
  width: 100%;
  max-height: 700px;
  overflow-y: scroll;
  list-style: none;
  border: none;
  padding-left: 0;
}

#results::-webkit-scrollbar {
  width: 0;
}

#results li {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#results div {
  display: flex;
  align-items: center;
  width: 100%;
}

#results li:hover {
  background-color: #eeeeee27;
}

#results img {
  width: 100px;
  height: 100%;
  margin-right: 10px;
}

#results h3 {
  width: 90%;
  font-size: 18px;
  text-align: left;
  margin: 0;
}

#results p {
  color: #bababa;
  font-size: 15px;
  margin: 5px 0;
  text-align: left;
  line-height: 18px;
}

#results span {
  color: #bababa;
  font-size: 15px;
  font-weight: 600;
  margin: 20px;
}

#results .infoSong {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

